@font-face {
    font-family: 'Brandon Grotesque';
    src: url('//tubular-entremet-8b5695.netlify.app/BrandonGrotesque-Regular.eot');
    src: url('//tubular-entremet-8b5695.netlify.app/BrandonGrotesque-Regular.eot?#iefix') format('embedded-opentype'),
        url('//tubular-entremet-8b5695.netlify.app/BrandonGrotesque-Regular.woff2') format('woff2'),
        url('//tubular-entremet-8b5695.netlify.app/BrandonGrotesque-Regular.woff') format('woff'),
        url('//tubular-entremet-8b5695.netlify.app/BrandonGrotesque-Regular.ttf') format('truetype'),
        url('//tubular-entremet-8b5695.netlify.app/BrandonGrotesque-Regular.svg#BrandonGrotesque-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('//tubular-entremet-8b5695.netlify.app/BrandonGrotesque-Medium.eot');
    src: url('//tubular-entremet-8b5695.netlify.app/BrandonGrotesque-Medium.eot?#iefix') format('embedded-opentype'),
        url('//tubular-entremet-8b5695.netlify.app/BrandonGrotesque-Medium.woff2') format('woff2'),
        url('//tubular-entremet-8b5695.netlify.app/BrandonGrotesque-Medium.woff') format('woff'),
        url('//tubular-entremet-8b5695.netlify.app/BrandonGrotesque-Medium.ttf') format('truetype'),
        url('//tubular-entremet-8b5695.netlify.app/BrandonGrotesque-Medium.svg#BrandonGrotesque-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('//tubular-entremet-8b5695.netlify.app/BrandonGrotesque-Bold.eot');
    src: url('//tubular-entremet-8b5695.netlify.app/BrandonGrotesque-Bold.eot?#iefix') format('embedded-opentype'),
        url('//tubular-entremet-8b5695.netlify.app/BrandonGrotesque-Bold.woff2') format('woff2'),
        url('//tubular-entremet-8b5695.netlify.app/BrandonGrotesque-Bold.woff') format('woff'),
        url('//tubular-entremet-8b5695.netlify.app/BrandonGrotesque-Bold.ttf') format('truetype'),
        url('//tubular-entremet-8b5695.netlify.app/BrandonGrotesque-Bold.svg#BrandonGrotesque-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('//tubular-entremet-8b5695.netlify.app/BrandonGrotesque-Thin.eot');
    src: url('//tubular-entremet-8b5695.netlify.app/BrandonGrotesque-Thin.eot?#iefix') format('embedded-opentype'),
        url('//tubular-entremet-8b5695.netlify.app/BrandonGrotesque-Thin.woff2') format('woff2'),
        url('//tubular-entremet-8b5695.netlify.app/BrandonGrotesque-Thin.woff') format('woff'),
        url('//tubular-entremet-8b5695.netlify.app/BrandonGrotesque-Thin.ttf') format('truetype'),
        url('//tubular-entremet-8b5695.netlify.app/BrandonGrotesque-Thin.svg#BrandonGrotesque-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('//tubular-entremet-8b5695.netlify.app/BrandonGrotesque-Light.eot');
    src: url('//tubular-entremet-8b5695.netlify.app/BrandonGrotesque-Light.eot?#iefix') format('embedded-opentype'),
        url('//tubular-entremet-8b5695.netlify.app/BrandonGrotesque-Light.woff2') format('woff2'),
        url('//tubular-entremet-8b5695.netlify.app/BrandonGrotesque-Light.woff') format('woff'),
        url('//tubular-entremet-8b5695.netlify.app/BrandonGrotesque-Light.ttf') format('truetype'),
        url('//tubular-entremet-8b5695.netlify.app/BrandonGrotesque-Light.svg#BrandonGrotesque-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

